.mobile_only {
  display: none;
  min-width: 311px;
}

navbar
.desktop_only {
  display: none;
}

.logo-size {
	 width: 60px; 
	 height: 60px;
}

.name-size {
	 font-size:35px;
	 vertical-align: middle;
   padding-left: 15px;
}

@media screen and (min-width:481px) {
  .desktop_only {
    display: inherit; 
  }
}

@media only screen and (max-width: 480px) {
  .mobile_only {
    display: block; 
}
  .logo-size {
	 width: 45px; 
	 height: 45px;
}
  .name-size {
	 font-size:20px;
	 vertical-align: middle;
	 }
}
/* Icon 1 */

.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 11px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon3 span {
    background: #000000;
}

/* Icon 3*/

.animated-icon3 span:nth-child(1) {
  top: 0px;
}

.animated-icon3 span:nth-child(2), .animated-icon3 span:nth-child(3) {
  top: 10px;
}

.animated-icon3 span:nth-child(4) {
  top: 20px;
}

.animated-icon3.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon3.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

@media (min-width: 768px) and (max-width: 991){
  .hidden-md {
    display: none !important;
    visibility: hidden !important;
  }
}


.brand-color {
/*  background-color: #2e302f;*/
  background-color: #ffffff;
}

.brand-color-text {
  color: #e91e63;
}

.dropdown-item.active, .dropdown-item:active {
/*  color: #fff;*/
  text-decoration: none;
  background-color: #e91e63;
}

.dropdown-item.hover, .dropdown-item:hover {
  text-decoration: none;
  background-color: #fce3eb;
}

.sidenav-mobile {
/*  background: #899EA1;*/
  background: #C4C1C1;
  text-decoration: none;
  font-size: 16px;
  padding-left: 60px;
  color: black!important;
}

.sidenav-mobile:hover {
  background-color: rgba(255,255,255,.1);
  text-decoration: none;
}

.sidenav-moblie a:hover {
  text-decoration: none;
}

.sidenav-mobile a:active {
  background-color: white;
}

.sidenav-mobile-active {
  background-color: #784546;
  text-decoration: none;
  color: white !important;
}

/* mobile and small */

.tab_menu {
	width: 55px;
	height: 55px;
	background:#E5CBCB;
	border: 1px solid #888888;
	transition: width 2s;
	box-shadow: 2px 2px 5px #888888;
  text-align: center;
  overflow: hidden;
  border-top-right-radius: 0px;
  position: relative;
  z-index: 1;
  left: 0;
  top: 50px;
  padding-top: 10px;
}

.tab_menu:first-of-type  {
	border-top-right-radius: 15px;
  box-shadow: 2px -2px 5px #888888;
}
  
.tab_menu:last-of-type  {
 	border-bottom-right-radius: 15px;
  box-shadow: 2px 2px 5px #888888;
}

.tab_menu:hover {
	width: 250px;
  transition: all 900ms ease-in;
}
  
.old-text,
.new-text {
  display: block;
  overflow: hidden;
}
.old-text {
  height: auto;
  opacity: 1;
  width: auto;
}
.new-text {
  color: #000;
  height: 0;
  opacity: 0;
  width: 0;
}
.tab_menu:hover .old-text {
  height: 0px;
  opacity: 0;
  width: 0px;
}
.tab_menu:hover .new-text {
  height: auto;
  opacity: 1;
  width: 250px;
}

/*desktop*/ 
  .tab_menu2 {
    width: 225px;
    height: 95px;
    background: white;
    border: 1px solid #888888;
    transition: width 2s;
    box-shadow: 2px 2px 5px #888888;
    text-align: left;
    overflow: visible;
    border-top-right-radius: 0px;
    position: relative;
    z-index: 1;
}

  .tab_menu2:first-of-type  {
    border-top-right-radius: 15px;
    box-shadow: 2px -2px 5px #888888;
  }

  .tab_menu2:last-of-type  {
    border-bottom-right-radius: 15px;
    box-shadow: 2px 2px 5px #888888;
  }

  .tab_menu2:hover  {
    width: 240px;;
}

.mobile-overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 9;
/*  top: 20;*/
  left: 0;
  background-color: black;
/*
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
*/
}

.mobile-overlay-content {
  position: relative;
/*  top: 25%;*/
  width: 100%;
  text-align: center;
}

.mobile-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: center;

}

.mobile-overlay a:hover, .mobile-overlay a:focus {
  color: #f1f1f1;
}

.mobile-overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .mobile-overlay a {font-size: 20px}
  .mobile-overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.hamburger_label {
  font-weight: 600;
  font-size: 12px;
}

.hamburger {
  cursor:pointer; 
  font-size: 18px; 
}


.caret {
    margin-left: 8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000000;
}


/*
.ltr-gradient {
    background: -moz-linear-gradient(left,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 30%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(0,0,0,0.65)),color-stop(30%,rgba(0,0,0,0.65)),color-stop(50%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 30%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 30%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 30%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 30%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000',endColorstr='#00000000',GradientType=1);
}
*/

.jumbotron {
   padding-top: 0;
   padding-bottom: 0;
   margin-top: 0px;
  background: transparent;
}

.jumbo-title {
font-size: calc(16px + 3vw);
  font-weight: 100;
}
  
.jumbo-text {
font-size: calc(16px + 1vw);
  font-weight: 100;
}

.brand-background {
   background-size: cover;
/*   background-color: #143D43;   */
  background-color: #ffffff;
}

.front-page_bg-image {
  background-image: url("../images/../images/front_page_bg-sm.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  }


@media screen and (min-width: 576px) {
.front-page_bg-image {
  background-image: url("../images/front_page_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .front-page_bg-image {
  background-image: url("../images/front_page_bg.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  }
}

.front-page_bg {
  background-color: white;
  height: 100%;
  }

@media screen and (min-width: 576px) {
  .front-page_bg {
    background: -webkit-linear-gradient(right, #e91e63 43%, #ffffff 43%);
    background: -o-linear-gradient(right, #e91e63 43%, #ffffff 43%);
    background: linear-gradient(to left, #e91e63 43%, #ffffff 43%);
  }
}

@media screen and (min-width: 768px) {
  .front-page_bg {
    background: -webkit-linear-gradient(right, #e91e63 43%, #ffffff 43%);
    background: -o-linear-gradient(right, #e91e63 43%, #ffffff 43%);
    background: linear-gradient(to left, #e91e63 43%, #ffffff 43%);
  }
}

@media screen and (min-width: 992px) {
  .front-page_bg {
    background: -webkit-linear-gradient(right, #e91e63 43%, #ffffff 43%);
    background: -o-linear-gradient(right, #e91e63 43%, #ffffff 43%);
    background: linear-gradient(to left, #e91e63 43%, #ffffff 43%);
  }
}

@media screen and (min-width: 1200px) {
  .front-page_bg {
    background: -webkit-linear-gradient(right, #e91e63 42%, #ffffff 42%);
    background: -o-linear-gradient(right, #e91e63 42%, #ffffff 42%);
    background: linear-gradient(to left, #e91e63 42%, #ffffff 42%);
  }
}
  
.brand-thumbnail {
    padding: .25rem;
    background-color: transparent;
    display: inline;
    z-index: 0;
}

.navbar {
  height: 83px;
  top: 0;
  left: 0;
  border-radius: 0;
  overflow: visible !important;
  background-color: #EAEAEA;
  position: fixed;
  width: 100%;
  z-index: 2;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  font-weight: 300;
}

@media (min-width: 600px){
  .navbar {
    overflow: hidden;
    z-index: 3;
  }
  .navbar.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -o-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .navbar.scrolling-navbar .navbar-nav>li {
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
  }
}
  
@media (min-width: 768px) {
  .navbar {
    position: relative;
    min-height: 50px;
  }
  .navbar-collapse {
    width: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-right: 20px;
    padding-left: 5px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
  }
  .navbar-collapse.collapse {
    display: block;
    height: auto;
    padding-bottom: 0;
    overflow: visible;
  }
  .p-t-sm {
    padding-top: 5px;
  }
  .pull-right {
    float: right;
  }
  .collapse {
      display: none;
  }
  .navbar-nav {
    float: left;
    margin: 7.5px -15px;
  }
}
  
.navbar .nav-flex-icons {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.divider-new, .navbar .nav-flex-icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
  }

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: black;
    -webkit-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}
.navbar .nav-item .nav-link {
    display: block;
  }
 
.pilldrop {
  font-size: 22px;
  background-color: white;
  border-radius: 5px;  
}

.nav-link {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 20px;
}

.nav-btn{
  color: black;
  font-weight: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.nav-btn:hover {
  background-color: rgba(102,65,66,0.10);
  text-decoration: none;
  color: black;
}

.nav-btn-active {
  background-color: rgba(255,255,255,.1);
  text-decoration: none;
  color: #e91e63;
}

.no-margin {
  margin: 0;
}

.m-r-md {
  margin-right: 10px;
}

.m-l-md {
  margin-left: 10px;
}

.m-t-xl {
  margin-top: 80px;
}

.m-t-xxxl {
  margin-top: -190px;
}

.m-t-4xl {
  margin-top: -295px;
}

.m-t-md {
  margin-top: 25px;
}

.no-padding {
  padding: 0;
}

.p-l-n {
  padding-left: 0;
}

.p-l-md {
  padding-left: 25px;
}

.p-t-sm {
  padding-top: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.sidenav {
  height: 100%;
  position: relative;
  z-index: 2;
  left: 0;
  background: #C4C1C1;
/*  background: #899EA1;*/
  overflow: auto;
  display: inline-block;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,.75), 0 12px 28px 0 rgba(0,0,0,0.19); 
}

.sidenav a {
  padding: 20px 8px 20px 6px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  display: block;
}

.sidebar:hover {
  text-decoration: none;
  background-color: #434544;
}

.sidebar {
  background: #2E302F;
  border-radius: 15px 0 0 15px;
}

.sideactive {
  background: #784546;
}

.dashboard {
  position: relative;
  z-index: 2;
}

.img-circle {
  border-radius: 50%;
}

.mypic {
  height: 175px;
}

.ghost-button{
  color: black;
  border: 1px solid #2e302f;
  font-size: 17px;
  padding: 0 12px;
  font-weight: normal;
  margin: 20px 0 20px 0;
  display: inline-block;
  text-decoration: none;
  min-width: 120px;
  border-radius: 15px;
}

.sidenav-mobile:hover, .sidenav-mobile:active {
  color: black !important;
}

.ghost-button:hover, .ghost-button:active {
  border: 1px solid #2e302f;
  background-color: rgba(102,65,66,0.10);
}

.footer-copyright {
  background: #EAEAEA;
  padding: 8px 0 8px 0;
  width: 100%;
  bottom: 0;
  position: fixed;
  z-index: 3;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
  .hidden-xs {
    display: none; 
  }}

.mobiledash {
  display: block;
  height: 100%;
  position: relative;
  margin-top: 81px;
  z-index: 2;
  overflow: auto;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,.75), 0 12px 28px 0 rgba(0,0,0,0.19); 
}

.mob-btn{
  background: #2E302F;
  font-size: 17px;
  padding: 0 12px;
  font-weight: normal;
  margin: 20px 0 20px 0;
  display: inline-block;
  text-decoration: none;
  min-width: 120px;
  border-radius: 15px;
}

.mob-btn:hover, .mobile-btn:active {
  background: white;
}

.card-title {
  font-size: 16px;
}

a.waves-effect, a.waves-light {
    display: inline-block;
}
  
.nav-link {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 20px;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width:1199px) {
  .rip_m-t {
    margin-top: 0;
  }
}
  
@media screen and (max-width:991px) {
  .rip_m-l {
    margin-left: 0;
  }
}

/*helpers*/
/*Turn on left border at screen size
  //Solid Border*/
.border-left {
  border-left: 1px solid #EAEAEA !important; 
}

@media screen and (min-width: 576px) {
  .border-left-sm {
    border-left: 1px solid #EAEAEA !important; } 
}

@media screen and (min-width: 768px) {
  .border-left-md {
    border-left: 1px solid #EAEAEA !important; } 
}

@media screen and (min-width: 992px) {
  .border-left-lg {
    border-left: 1px solid #EAEAEA !important; } 
}

@media screen and (min-width: 1200px) {
  .border-left-xl {
    border-left: 1px solid #EAEAEA !important; } 
}

/*Turn off left border at screen size*/
.border-left-none {
  border-left: 0 !important; 
}

@media screen and (min-width: 576px) {
  .border-left-sm-none {
    border-left: 0 !important; } 
}

@media screen and (min-width: 768px) {
  .border-left-md-none {
    border-left: 0 !important; } 
}

@media screen and (min-width: 992px) {
  .border-left-lg-none {
    border-left: 0 !important; } 
}

@media screen and (min-width: 1200px) {
  .border-left-xl-none {
    border-left: 0 !important; } 
}

/*Turn off bottom border at screen size*/
@media screen and (min-width: 576px) {
  .border-bottom-sm-none {
    border-bottom: 0 !important; } 
}

@media screen and (min-width: 768px) {
  .border-bottom-md-none {
    border-bottom: 0 !important; } 
}

@media screen and (min-width: 992px) {
  .border-bottom-lg-none {
    border-bottom: 0 !important; } 
}

@media screen and (min-width: 1200px) {
  .border-bottom-xl-none {
    border-bottom: 0 !important; } 
}